.main-banner {
  top: 0;
  margin: 0;
}
.banner-image {
  width: 1500px;
  height: 700px;
}
.text {
  padding: 30px;
}
.pictures {
  padding: 30px;
}
.pic-title {
  display: flex;
  justify-content: center;
  text-align: center;
}
.pic-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.SNS {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px;
  gap: 100px;
}
